lib
bin
devel
build
logs
log
install
CMakeLists.txt.user
CMakeLists.txt.user.*
CMakeLists.txt.old
msg_gen
srv_gen
*.txt.user
*.cfgc
*.autosave
*~
ROS_NOBUILD
.catkin_workspace
CATKIN_IGNORE
src/.idea
doxy/out
*.workspace*
catkin-ignore-list.txt
outOfws
ur_modern_driver
.vscode
.catkin_tools
src/CMakeLists.txt
*.code-workspace
*.backup
tut*
