<launch>

  <!-- Set the param that trajectory_execution_manager needs to find the controller plugin -->
  <node name="hsrb_task_manager_node" type="task_manager.py" pkg="hsrb_task_manager" output="screen" />

  <!-- The rest of the params are specific to this plugin -->
  <rosparam file="$(find hsrb_task_manager)/config/way_points.yaml"/>

</launch>
